{% extends "base.html" %}
{% block title %}{{ _("Programmation d'un enregistrement") }}{% endblock %}

{% block metas %}
{{ super() }}
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
{% endblock %}

{% block styles %}
{{ super() }}
    <link type="text/css" href="/static/fontawesome-free/css/all.css" rel="stylesheet">
    <link type="text/css" href="/static/tempusdominus-bootstrap4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
{{ super() }}
    <script type="text/javascript" src="/static/tempusdominus-bootstrap4/js/tempusdominus-bootstrap-4.min.js"></script>
{% endblock %}

{% block page_content %}

<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="true">{{ _("Programmation") }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">{{ _("Liste") }} </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#wakeup" role="tab" aria-controls="wakeup" aria-selected="false">{{ _("Réveils") }} </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tools" role="tab" aria-controls="tools" aria-selected="false">{{ _("Outils") }} </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="schedule" class="tab-pane fade show active" role="tabpanel" aria-labelledby="schedule-tab">
        <h2>{{ _("Programmation d'un enregistrement") }}</h2>
        <form method="POST" action="{{ url("index") }}" role="form">
            <div class="form-group col-sm-1">
                {{ form.adapter.label(for="adapter") }}
                {{ form.adapter(class="form-control") }}
                {% if form.adapter.errors %}
                <div class="help-text">
                    {% for error in form.adapter.errors %}<p>{{ error }}</p>{% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group col-sm-4">
                {{ form.channel.label(for="channel") }}
                {{ form.channel(class="form-control") }}
                {% if form.channel.errors %}
                <div class="help-text">
                    {% for error in form.channel.errors %}<p>{{ error }}</p>{% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group col-sm-6{% if form.program_name.errors %} has-error{% endif %}">
                {{ form.program_name.label(for="program_name") }}
                {{ form.program_name(class="form-control") }}
                {% if form.program_name.errors %}
                <div class="help-text">
                    {% for error in form.program_name.errors %}<p>{{ error }}</p>{% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group col-sm-4{% if form.begin_date.errors %} has-error{% endif %}">
                {{ form.begin_date.label(for="begin_date") }}
                <div class="input-group date{% if form.begin_date.errors %} has-error{% endif %}" id="begin_date" data-target-input="nearest">
                    <input type="text" id="begin_date" name="begin_date" class="form-control datetimepicker-input" data-target="#begin_date"
                    {% if form.begin_date.data is none %}
                    placeholder="{{ _("Entrez la date de début") }}"
                    {% else %}
                    value="{{ form.begin_date.data.strftime("%d/%m/%Y %H:%M") }}"
                    {% endif %}
                    />
                    <div class="input-group-append" data-target="#begin_date" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-calendar"></i></div>
                    </div>
                </div>
                {% if form.begin_date.errors %}
                <div class="help-text">
                    {% for error in form.begin_date.errors %}<p>{{ error }}</p>{% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group col-sm-4{% if form.end_date.errors %} has-error{% endif %}">
                {{ form.end_date.label(for="end_date") }}
                <div class="input-group date" id="end_date" data-target-input="nearest">
                    <input type="text" id="end_date" name="end_date" class="form-control datetimepicker-input" data-target="#end_date"
                    {% if form.end_date.data is none %}
                    placeholder="{{ _("Entrez la date de fin") }}"
                    {% else %}
                    value="{{ form.end_date.data.strftime("%d/%m/%Y %H:%M") }}"
                    {% endif %}
                    />
                    <div class="input-group-append" data-target="#end_date" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-calendar"></i></div>
                    </div>
                </div>
                {% if form.end_date.errors %}
                <div class="help-text">
                    {% for error in form.end_date.errors %}<p>{{ error }}</p>{% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-check col-sm-2">
                {{ form.shutdown(class="form-check-input") }}
                {{ form.shutdown.label(for="shutdown") }}
            </div>
            <div>
                {{ form.submit(class="btn btn-primary") }}
                <a href="{{ url("index") }}" class="btn btn-light">{{ _("Annuler") }}</a>
            </div>
        </form>
    </div>

    <div id="list" class="tab-pane fade" role="tabpanel" aria-labelledby="list-tab">
        <h2>{{ _("Liste des enregistrements") }}</h2>
        <table class="table">
        <thead>
            <tr>
                <td>{{ _("Nom du programme") }}</td>
                <td>{{ _("Chaîne") }}</td>
                <td>{{ _("Date de début") }}</td>
                <td>{{ _("Date de fin") }}</td>
                <td>{{ _("Enregistreur") }}</td>
                <td>{{ _("Extinction") }}</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for rec in recordings %}
            <tr>
                <td>{{ rec[1].program_name }}</td>
                <td>{{ rec[1].channel }}</td>
                <td>{{ rec[1].begin_date.strftime("%d/%m/%Y %H:%M") }}</td>
                <td>{{ rec[1].end_date.strftime("%d/%m/%Y %H:%M") }}</td>
                <td>{{ rec[1].adapter }}</td>
                <td>{{ rec[1].shutdown }}</td>
                <td><a href="{{ url("cancel_recording", id=rec[0]) }}">{{ _("Annuler") }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

    <div id="wakeup" class="tab-pane fade" role="tabpanel" aria-labelledby="wakeup-tab">
        <h2>{{ _("Programmation d'un réveil") }}</h2>
        <form method="POST" action="{{ url("index") }}" role="form">
            <div class="form-group col-sm-4{% if form2.awakening_date.errors %} has-error{% endif %}">
                {{ form2.awakening_date.label(for="awakening_date") }}
                <div class="input-group date" id="awakening_date" data-target-input="nearest">
                    <input type="text" id="awakening_date" name="awakening_date" class="form-control datetimepicker-input" data-target="#awakening_date"
                    {% if form2.awakening_date.data is none %}
                    placeholder="{{ _("Entrez la date de réveil") }}"
                    {% else %}
                    value="{{ form2.awakening_date.data.strftime("%d/%m/%Y %H:%M") }}"
                    {% endif %}
                    />
                    <div class="input-group-append" data-target="#awakening_date" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-calendar"></i></div>
                    </div>
                </div>
                {% if form2.awakening_date.errors %}
                <div class="help-text">
                    {% for error in form2.awakening_date.errors %}<p>{{ error }}</p>{% endfor %}
                </div>
                {% endif %}
            </div>
            <div>
                {{ form2.submit2(class="btn btn-primary") }}
                <a href="{{ url("index") }}" class="btn btn-light">{{ _("Annuler") }}</a>
            </div>
        </form>

        {% if awakenings %}
        <h2>{{ _("Liste des réveils") }}</h2>
        <table class="table">
        <thead>
            <tr>
                <td>{{ _("Date") }}</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for wak in awakenings %}
            <tr>
                <td>{{ wak[1].strftime("%d/%m/%Y %H:%M") }}</td>
                <td><a href="{{ url("cancel_awakening", id=wak[0]) }}">{{ _("Annuler") }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
    </div>

    <div id="tools" class="tab-pane fade" role="tabpanel" aria-labelledby="tools-tab">
        <h2>{{ _("Extinction") }}</h2>
        <form method="POST" action="{{ url("index") }}" role="form">
            <div class="form-check col-sm-2">
                {{ form3.shutdown(class="form-check-input") }}
                {{ form3.shutdown.label(for="shutdown") }}
            </div>
            <div>
                {{ form3.submit3(class="btn btn-primary") }}
                <a href="{{ url("index") }}" class="btn btn-light">{{ _("Annuler") }}</a>
            </div>
        </form>
    </div>

  </div>
</div>

<script>
$.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
    icons: {
        time: "far fa-clock",
        date: "far fa-calendar",
        up: "fas fa-arrow-up",
        down: "fas fa-arrow-down",
        previous: "fas fa-chevron-left",
        next: "fas fa-chevron-right",
        today: "far fa-calendar-check-o",
        clear: "far fa-trash",
        close: "far fa-times"
    }
});

$(function() {
    $("#begin_date").datetimepicker({
        locale: "fr",
        allowInputToggle: true,
        minDate: moment(),
        stepping: 5
    });

    $("#end_date").datetimepicker({
        locale: "fr",
        allowInputToggle: true,
        minDate: moment(),
        stepping: 5
    });

    $("#awakening_date").datetimepicker({
        locale: "fr",
        allowInputToggle: true,
        minDate: moment(),
        stepping: 5
    });

    $("#begin_date").on(
        "hide.datetimepicker",
        function (e) {
            $("#end_date").datetimepicker("minDate", e.date);
        }
    );
});
</script>
{% endblock %}
