backports.entry-points-selectable==1.1.1
cffi==1.15.1
cfgv==3.3.1
distlib==0.3.6
doc8==1.0.0
docutils==0.19
filelock==3.8.0
flake8==5.0.4
graphviz==0.20.1
identify==2.5.5
jedi==0.18.1
mccabe==0.7.0
nodeenv==1.7.0
packaging==21.3
parso==0.8.3
pbr==5.10.0
pipdeptree==2.3.1
platformdirs==2.5.2
pre-commit==2.20.0
pycodestyle==2.9.1
pyflakes==2.5.0
Pygments==2.13.0
pyparsing==3.0.9
pytoolconfig==1.2.2
PyYAML==6.0
restructuredtext-lint==1.4.0
six==1.16.0
stevedore==4.0.0
toml==0.10.2
virtualenv==20.16.5
