backports.entry-points-selectable==1.1.1
cffi==1.15.0
cfgv==3.3.1
distlib==0.3.4
doc8==0.11.1
docutils==0.18.1
filelock==3.6.0
flake8==4.0.1
graphviz==0.20
identify==2.4.12
jedi==0.18.1
mccabe==0.6.1
nodeenv==1.6.0
parso==0.8.3
pbr==5.8.1
pipdeptree==2.2.1
platformdirs==2.5.2
pre-commit==2.18.1
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.11.2
PyYAML==6.0
restructuredtext-lint==1.4.0
six==1.16.0
stevedore==3.5.0
toml==0.10.2
virtualenv==20.14.1
